<div class="container">
  <div class="row col-4 offset-1">
    <h5 class="my-4 mx-4 px-3 text-dark bg-light">会員情報編集</h5>
  </div>
  
  <div class="form-body mt-4 offset-1">
    <%= form_with model: @customer, url: public_customer_path, local:true do |f| %>
      <div class="form-group row">
        <label class="col-3 control-label col-from-label">氏名</label>
        <%= f.text_field :first_name , class:"form-control pl-0 mr-5 col-2" %>
        <%= f.text_field :last_name, class:"form-control pl-0 col-2" %>
      </div>
      <div class="form-group row">
        <label class="col-3 control-label col-from-label">フリガナ</label>
        <%= f.text_field :first_name_kana, class:"form-control pl-0 mr-5 col-2" %>
        <%= f.text_field :last_name_kana, class:"form-control pl-0 col-2" %>
      </div>
      <div class="form-group row">
        <label class="col-3 control-label col-from-label">郵便番号</label>
        <%= f.text_field :postal_code, class:"form-control overflow-auto pl-0 col-2" %>
      </div>
      <div class="form-group row">
        <label class="col-3 control-label col-from-label">住所</label>
        <%= f.text_field :address, class:"form-control pl-0 col-7" %>
      </div>
      <div class="form-group row">
        <label class="col-3 control-label col-from-label">電話番号</label>
        <%= f.text_field :telephone_number, class:"form-control pl-0 col-2" %>
      </div>
      <div class="form-group row">
        <label class="col-3 control-label col-from-label">メールアドレス</label>
        <%= f.text_field :email, class:"form-control pl-0 col-2" %>
      </div>

      <div class="form-group offset-3 col-7 px-0 d-flex justify-content-between">
        <div class="col-5 px-0">
          <%= f.submit '編集内容を保存', class:"btn btn-ms btn-block btn-success pt-1 px-0 mt-4" %>
        </div>
        <div class="col-3 px-0">
          <%= link_to "退会する", customers_unsubscribe_path(@customer.id), class: "btn btn-ms btn-block btn-danger pt-1 px-0 mt-4" %>
        </div>
      </div>
    <% end %>
  </div>
</div>