<div class="conteiner">
  <div class="row col-2 offset-1 my-4">
    <label class="px-3 ml-3 text-dark bg-light">マイページ</label>
  </div>
  <div class="row col-9 ml-4 mb-2">
    <div class="pt-1 ml-2">
      <h5 class="m-0"><strong>登録情報</strong></h5>
    </div>
    <div class="col-1 mx-4 p-0">
      <%= link_to "編集する", edit_public_customer_path(@customer.id), class: 'nav-link btn btn-success px-0 py-1 btn-ms' %>
    </div>
  </div>
  
  <div class="row ml-5 mt-4">
    <table class="table table-sm table-bordered col-6">
      <tr>
        <td class="bg-light" style="width:25%;"><label>氏名</label></td>
        <td><label><%= @customer.first_name %>&emsp;<%= @customer.last_name %></label></td>
      </tr>
      <tr>
        <td class="bg-light"><label>カナ</label></td>
        <td><label><%= @customer.first_name_kana %>&emsp;<%= @customer.last_name_kana %></label></td>
      </tr>
      <tr>
        <td class="bg-light"><label>郵便番号</label></td>
        <td><label><%= @customer.postal_code %></label></td>
      </tr>
      <tr>
        <td class="bg-light"><label>住所</label></td>
        <td><label><%= @customer.address %></td>
      </tr>
      <tr>
        <td class="bg-light"><label>電話番号</label></td>
        <td><label><%= @customer.telephone_number %></label></td>
      </tr>
      <tr>
        <td class="bg-light"><label>メールアドレス</label></td>
        <td><label><%= @customer.email %></label></td>
      </tr>
    </table>
  </div>
  
  <div class="row col-5 ml-4 my-4">
    <div class="ml-2">
      <h5 class="pt-1"><strong>配送先</strong></h5>
    </div>
    <div class="col-3 px-0 ml-5">
      <%= link_to "一覧を見る", public_addresses_path(@customer.id), class: 'nav-link btn btn-primary px-0 py-1 btn-ms' %>
    </div>
  </div>
  <div class="row col-5 ml-4">
    <div class="ml-2 mr-1">
      <h5 class="pt-1"><strong>注文履歴</strong></h5>
    </div>
    <div class="col-3 px-0 ml-4">
      <%= link_to "一覧を見る", public_orders_path(@customer.id), class: 'nav-link btn btn-primary px-0 py-1 btn-ms' %>
    </div>
  </div>
</div>