<div class="container">
  <div class="row col-10 offset-1">
    <div class="">
      <h5 class="my-4 mx-4 px-3 text-dark bg-light">商品一覧</h5>
    </div>
    <div class="ml-auto mt-2">
      <div class="nav-item">
        <a href="items/new" class="btn-circle-3d">+</a>
      </div>
    </div>
  </div>
  <div class="row col-10 offset-1">
    <table class="table table-inverse">
      <thead class="border-top border-bottom border-dark">
        <tr>
          <th>商品ID</th>
          <th>商品名</th>
          <th>税抜価格</th>
          <th>ジャンル</th>
          <th>ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @items.each do |item| %>
        <tr>
          <td><%= item.id %></td>
          <td>
            <%= link_to admin_item_path(item.id) do %>
              <%= item.name %>
            <% end %>
          </td>
          <td><%= item.price %></td>
          <td><%= item.genre.name %></td>
          <td><%= item.is_active == true ? "販売中" : "販売停止中" %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="row d-flex justify-content-center">
    <span><%= paginate @items %></span>
  </div>
</div>

