<div class="container">
  <div class="row mt-2">
    <h5 class="col-3 mt-4 ml-5 mb-4 bg-light text-center"><strong><%= @customer.first_name %><%= @customer.last_name %>さんの会員詳細</strong></h5>
  </div>
  <div class="row mt-3 ml-2">
    <div class="form-body col-9 ml-3">
      <table class="table table-borderless mb-0">
        <tr>
          <td style="width: 30%;" class="py-2"><label>会員ID</label></td>
          <td class="py-2"><label><%= @customer.id %></label></td>
        </tr>
        <tr>
          <td class="py-2"><label>氏名</label></td>
          <td class="py-2"><label><%= @customer.first_name %></label>&emsp;<label><%= @customer.last_name %></label></td>
        </tr>
        <tr>
          <td class="py-2"><label>フリガナ</label></td>
          <td class="py-2"><label><%= @customer.first_name_kana %></label>&emsp;<label><%= @customer.last_name_kana %></label></td>
        </tr>
        <tr>
          <td class="py-2"><label>郵便番号</label></td>
          <td class="py-2"><label><%= @customer.postal_code %></label></td>
        </tr>
        <tr>
          <td class="py-2"><label>住所</label></td>
          <td class="py-2"><label><%= @customer.address %></label></td>
        </tr>
        <tr>
          <td class="py-2"><label>電話番号</label></td>
          <td class="py-2"><label><%= @customer.telephone_number %></label></td>
        </tr>
        <tr>
          <td class="py-2"><label>メールアドレス</label></td>
          <td class="py-2"><label><%= @customer.email %></label></td>
        </tr>
        <tr>
          <td class="py-2"><label>会員ステータス</label></td>
          <td class="py-2"><label><%= @customer.is_active == true ?  "有効" : "退会" %></label></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-2 offset-3"><%= link_to "編集する", edit_admin_customer_path, class: 'btn btn-md btn-success px-3' %></div>
    <div class="justify-content-center"><%= link_to "注文履歴一覧を見る", admin_homes_path(user_id: @customer.id), class: ' btn btn-md btn-primary px-4' %></div>
  </div>
    
  
</div>