<div class="container">
  <div class="row">
    <h5 class="col-3 m-4 bg-light text-center">ジャンル一覧・追加</h5>
  </div>
  <div class="row">
    <%= form_with model: @genre, url: admin_genres_path, class: "d-flex flex-row align-items-center my-4", local:true do |f| %>
      <div class="col-3">
        <p class="m-0">ジャンル名</p>
      </div>
      <div class="col-6">
        <%= f.text_field :name, class:"form-control", placeholder:"ジャンル名" %>
      </div>
      <div class="col-4 text-right">
        <%= f.submit '新規登録', class:"btn btn-md px-4 btn-success" %>
      </div>
    <% end %>
  </div>
  
  <div class="row">
    <table class="table table-hover table-inverse mt-4 col-5">
      <thead>
        <tr>
          <th class=" p-2 text-center">ジャンル</th>
        </tr>
      </thead>
      <tbody>
        <% @genres.each do |genre| %>
        <tr>
          <td class="p-2">
            <span class="text-center"><%= genre.name %></span>
          </td>
          <td>
            <%= link_to "編集", edit_admin_genre_path(genre.id), class: 'nav-link btn btn-success p-2 btn-ms' %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>