<div class="container">
  <div class="row col-10 offset-1">
    <h5 class="my-4 px-3 text-dark bg-light">注文履歴一覧</h5> 
    <table class="table table-inverse">
        <thead class="bg-light">
            <tr>
              <th style="width:25%;">購入日時</th>
              <th>購入者</th>
              <th>注文個数</th>
              <th>注文ステータス</th>
            </tr>
        </thead>
        <tbody class="solid">
          <% @orders.each do |order| %>
          <tr>
            <td>
              <%= link_to admin_order_path(order.id) do %>
                <u><%= order.created_at.strftime('%Y/%m/%d %H:%M:%S') %></u>
              <% end %>
            </td>
            <td><%= order.name %></td>
            <td>
              <% order.order_details.each do |order_detail| %>
                <%= order_detail.amount %>
              <% end %>  
            </td>
            <td><%= order.status %></td>
          </tr>
          <% end %>
        </tbody>
    </table>
  </div>
  <div class="row d-flex justify-content-center">
    <span style="padding: 0 10px"><%= paginate @orders %></span>
  </div>
</div>

