<div class="container">
  <div class="row">
    <h5 class="my-4 mx-4 px-3 text-dark bg-light">注文履歴一覧</h5> 
    <table class="table table-hover table-inverse">
        <thead class="thead-light">
            <tr>
                <th>購入日時</th>
                <th>購入者</th>
                <th>注文個数</th>
                <th>注文ステータス</th>
            </tr>
        </thead>
        <tbody>
          <% @order_details.each do |order_detail| %>
          <tr>
            <td>
              <%= link_to admin_order_path(order.id) do %>
                <%= order_detail.name %>
              <% end %>
            </td>
            <td><%= order_detail.name %></td>
            <td><%= order_detail.amount %></td>
            <td><%= order_detail.making_status %></td>
          </tr>
          <% end %>
        </tbody>
    </table>
      
      
  </div>
</div>

